# Node.js
node_modules/

# TypeScript
*.tsbuildinfo

# Compiled output
dist/

# Environment variables
.env

# Editor/IDE specific files
.vscode/
.idea/

# Logs
*.log

# Dependency directories
.pnpm/
yarn-error.log
npm-debug.log

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
