@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Work+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Mono", serif;
}

.image-inverted {
  box-shadow: -1px 1px 30px rgb(255, 255, 255);
  border-radius: 100%;
  outline: 2px solid white;
}

.image-inverted:hover {
  outline: 2px solid Gold;
  box-shadow: -1px 1px 30px gold;
}
