@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Work+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Mono", serif;
}

.image-inverted {
  box-shadow: -1px 1px 30px rgb(255, 255, 255);
  border-radius: 100%;
  outline: 2px solid white;
}

.image-inverted:hover {
  outline: 2px solid gold;
  box-shadow: -1px 1px 30px gold;
}

.image-inverted-logo {
  filter: invert(100%);
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px 0 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}
.bg-color {
  background-color: black;
  border-radius: 100%;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.X-style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}
